{% extends "layout.html" %} {% block title %} Add {% endblock %} {% block main%}

<!-- add form -->
<br />
<form action="/add" method="post">
  <div class="mb-3">
    <input
      required
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      name="name"
      placeholder="Enter Task Name"
      type="text"
    />
  </div>

  <div class="mb-3">
    <textarea
      name="description"
      class="form-control mx-auto w-auto"
      aria-label="With textarea"
      spellcheck="false"
      placeholder="Enter Task Description"
    ></textarea>
  </div>

  <div class="mb-3">
    <select
      class="form-select mb-3 mx-auto w-auto"
      name="priority"
      id="priority"
    >
      <option disabled selected value="priority">Select Priority</option>
      <option value="1">1</option>
      <option value="1">2</option>

      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  <div class="mb-3">
    <input class="form-control mx-auto w-auto" onfocus="(this.type='date')"
    type=text" id="start-date" name="start-date" placeholder="Select Start Date"
    />
  </div>

  <div class="mb-3">
    <select class="form-select mx-auto w-auto" name="status" id="status1">
      <option disabled selected value="Status">Select Status</option>
      <option value="done-on-time">Done-On-Time</option>
      <option value="done">Done</option>
      <option value="not-set">Not-Set</option>
      <option value="missed">Missed</option>
    </select>
  </div>

  <button class="btn btn-dark" type="submit">Add</button>
</form>
{% endblock %}
